<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading custom-flex">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{ contact.name }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <span class="pull-left">
                            <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <a (click)="onEditContact()" class="btn btn-primary">Edit</a>
                        <a (click)="onDelete()" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Email: {{ contact.email }}</p>
                        <p>Phone: {{ contact.phone }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

